<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aarav's Home Page — Data Deal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='')}}">
</head>

<body class="aarav-page">

    <header id="aarav-header" class="page-header">
        <span class="left-item">
            <a href="Aarav-Main.html">
                <img class="logo" id="datadeal-logo" src="{{ url_for('static', filename= 'data deal icon.png')}}" alt="Data Deal logo">
            </a>
            <h1>Data Deal</h1>
        </span>
        <nav id="contents" class="center-item" aria-label="Group project navigation">
            <a class="hyperlink animated-hyperlink aarav" href="{{ url_for('data_deal_home') }}">Back to Data Deal Homepage</a>
            </a>
        </nav>
        <span class="right-item">
            <h1>Back to Home</h1>
            <a href="{{ url_for('leaderboard') }}">
                <img class="logo" src="{{ url_for('static', filename='no.png')}}" alt="Go to checkout page">
            </a>
        </span>
    </header>

    <form method="GET" class="boxed-text">
        <input type="text" name="search" placeholder="Search by name…" value="{{ search }}">
        <input type="submit" value="Search">
        {% if search %}
        <a href="/">Clear</a>
        {% endif %}
    </form>
    
    <form class="boxed-text" method="POST">
        Name: <input type="text" name="name" maxlength="30" required>
        Score: <input type="number" name="score" max="999999" min="0" required>
        Time: <input type="number" name="seconds" max="999999" min="0" required>
        <input type="submit" value="Submit">
    </form> 
    
    <h2>Leaderboard</h2>

<!--
        <table>
        <th>table header</th>
    {% for name, score, seconds in entries %}
    <tr>
        <td>{{ name }}</td>
        <td> {{ score }}</td>
        <td> {{ seconds }}s</td>
    </tr>
    {% endfor %}

    </table>
    -->

    <div class="leaderboard-wrapper">
      <table class="leaderboard-table">
        <thead>
          <tr class="table-header">
            <th>Name</th>
            <th>Score</th>
            <th>Time</th>
          </tr>
        </thead>
        <tbody>
          {% for name, score, seconds in entries %}
          <tr class="table-row">
              <td>{{ name }}</td>
              <td>{{ score }}</td>
              <td>{{ seconds }}s</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
      <div class="pagination">
         {% if page > 1 %}
         <a href="?page={{ page - 1 }}&search={{ search }}">← Previous</a>
         {% endif %}

         <span>Page {{ page }} of {{ total_pages }}</span>

         {% if page < total_pages %}
         <a href="?page={{ page + 1 }}&search={{ search }}">Next →</a>
         {% endif %}
        </div>


    <footer class="page-footer">
        <section class="columns">
            <div>
                <button onclick="window.scrollTo({ top: 0, behavior: 'smooth' })">Back to top ⬆</button>
            </div>
            <div>
                <img src="{{ url_for('static', filename='mascot.png')}}" class="mascot" alt="Gamedev Club Gamedevs Mascot" width=200px>
            </div>
            <div>
                <p><b>Gamedev Club Gamedevs</b></p>
                <h6>You Think It. We Built It!</h6>
            </div>
        </section>
        <br><br>
        <nav class="footer-links" aria-label="Footer navigation">
            <a href="index.html">Home</a>
            <a href="games.html">Games</a>
            <a href="Checkout.html">Checkout</a>
            <a href="Albarr-Main.html">QFAP</a>
            <a href="Muhammad-Main.html">CyberMatch</a>
            <a href="Aarav-Main.html">Data Deal</a>
        </nav>
        <br>
        <hr color="#ff00c4">
        <br>
        <h5>© 2026 Gamedev Club Gamedevs. No Rights Reserved</h5>
    </footer>
</body>

</html>